body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    align-items: center;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.hero-section {
    background: url('images/eraikuntza.jpg') no-repeat center center/cover;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.carousel img {
    border-radius: 10px;
}
.content-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-section img {
    width: 200px; 
    height: auto; 
    max-width: 100%; 
}
.form-check-input {
    background-color: #f8f9fa;
}
.taula {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    padding: 20px;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}
.taula img{
    width: 100%; 
    height: auto; 
    display: block;
}
